@mixin button-decoration {
    margin-top: 10px;
    border-radius: 30px;
    height: 33px;
    font-size: 12px;
    border:0;
    cursor: pointer;
}

.card-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    .event-info {
        color: white;
    }
}

.card {
    margin-left: 4rem;
    border: 1px solid white;
    height: 187px;
    width: 280px;
    justify-content: space-around;
}

.event-name {
    font-size: 16px;
    color: white;
}

.event-date {
    font-size: 13px;
    color: #FD8700;
}

.event-info {
    font-size: 12px;
}

.button {
    display: flex;
    width: 300px;
    margin-left: 120px;
}

.seemore {
    background-color: $seemoreBtn;
    color: white;
    width: 65px;
    @include button-decoration();
    &:focus {
        outline: none;
    }
}


.delete {
    background-color: $editBtn;
    color: black;
    margin-left: 20px;
    width: 55px;
    @include button-decoration();
    &:focus {
        outline: none;
    }
}

.save {
    background-color: $saveBtn;
    color: white;
    margin-left: 20px;
    width: 55px;
    @include button-decoration();
    &:focus {
        outline: none;
    }
}




