@mixin button-decoration {
    color: white;
    margin-top: 10px;
    border-radius: 30px;
    width: 75px;
    height: 30px;
    font-size: 15px;
    border:0;
    cursor: pointer;
}


.event-overall {
    display: flex;
}

.event img {
    margin-bottom: 20px;
    color: white;
    display: flex;
}

.title {
    color: white;
    margin-left: 20px;
    font-size: 20px;
}

.info {
    margin-left: 20px;
}

.event-list {
    list-style: none;
    display: flex;
    margin-left: 10px;
    margin-top: 10px;

    li {
        margin-right: 180px;
    }
}

.event-desc {
    color: white;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 14px;
}

.buttons {
    margin-top: 40px;
    margin-left: 20px;
}

.seemore {
    background-color: $seemoreBtn;
    margin-right: 20px;
    @include button-decoration();
    &:focus {
        outline: none;
    }
}

.save {
    background-color: $saveBtn;
    @include button-decoration();
    &:focus {
        outline: none;
    }
}