.header {
    height: 50px;
    background: $menuColor;
    padding: 0 20px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container {
    
    
}



.content {
    height: 220vh;
    display: flex;
    margin-left: 11rem;
    color: white;
    overflow: hidden;
    

    
}

.pic {
    display: flex;
}


.info {
    margin-top: 28px;
    margin-right: 12rem;
}

.detail {
    p {
        color: rgb(141, 139, 139);
        margin-left: 20px;
        margin-top: 30px;
        font-size: 17px;
    }
}

.comments {
    display: flex;
    border-top: 1px solid grey;
}

.user-comments {
    margin-top: -10rem;
}

.user-comment {
    display: flex;
    padding-top: 20px;
    margin-left: 20px;
}

.footer {
    margin-top: 30px;
    height: 30vh;
    background-color: $menuColor;
}
