.header {
    height: 50px;
    background: $menuColor;
    color: white;
    position: sticky;
    top: 0;
}



.seach-erea {
    display: flex;
    justify-content: center;
}

.content {
    height: 220vh;
    color: white;
    overflow: hidden;
    justify-content: center;
    margin: 100px auto;

    
}

.pic {
    display: flex;
}

.contentarea{
    margin: 0 auto;
}


.detail {
    width: 47rem;
   
    p { 
        color: rgb(141, 139, 139);
        margin: 30px 0 30px 20px ;
        font-size: 17px;
    }
}

.comments {
    border-top: solid  gray 1px;
    display: flex;
}

.user-comments {
    margin-top: -10rem;
}

.user-comment {
    display: flex;
    padding-top: 20px;
    margin-left: 20px;
}

.footer {
    margin-top: 30px;
    height: 30vh;
    background-color: $menuColor;
}

