

.glider-contain {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.glider-contain h1 {
  color: white;
  margin-left: 80px;
  margin-bottom: 30px;
  margin-top: 40px;
}

.glider {
  margin: 0 auto;
  position: relative;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  transform: translateZ(0);
  z-index: 300;
}

.glider-track {
  height: 35em;
  transform: translateZ(0);
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  z-index: 1;
}

.glider.draggable {
  padding-left: 6em;
  height: 380px;
  user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
  transition: 0.5s;
}

.glider.draggable .glider-slide img {
  transition: 0.5s;
  user-select: none;
  pointer-events: none;
}

.glider.drag {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  
}
.glider-slide {
  user-select: none;
  margin-bottom: -10em;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.glider-slide img {
  max-width: 100%;
  transition: 0,8s;
}
.glider::-webkit-scrollbar {
  opacity: 0;
  height: 0;
}

.glider-prev,
.glider-prev2
 {
  margin-left: 1em;
  user-select: none;
  position: absolute;
  outline: none;
  background: none;
  padding: 0;
  z-index: 2;
  font-size: 40px;
  text-decoration: none;
  left: -23px;
  border: 0;
  top: 30%;
  cursor: pointer;
  color: white;
  opacity: 1;
  line-height: 1;
  transition: opacity .5s cubic-bezier(.17,.67,.83,.67),
              color .5s cubic-bezier(.17,.67,.83,.67),
              0.5s;
  z-index: 3000;
}

.glider-next,
.glider-next2 {
  margin-right: 1em;
  user-select: none;
  position: absolute;
  outline: none;
  background:none;
  padding: 0;
  z-index: 2;
  font-size: 40px;
  text-decoration: none;
  left: -23px;
  border: 0;
  top: 30%;
  cursor: pointer;
  color: white;
  opacity: 1;
  line-height: 1;
  transition: opacity .5s cubic-bezier(.17,.67,.83,.67),
              color .5s cubic-bezier(.17,.67,.83,.67),
              0.8s;
  z-index: 3000;
}

.glider-prev:hover,
.glider-next:hover,
.glider-prev:focus,
.glider-next:focus {
  color: white;
}

.glider-next {
  right: -23px;
  left: auto;
}
.glider-next.disabled,
.glider-prev.disabled {
  opacity: .25;
  color: #666;
  cursor: default;
}


.glider-prev2:hover,
.glider-next2:hover,
.glider-prev2:focus,
.glider-next2:focus {
  color: white;
}
.glider-next2 {
  right: -23px;
  left: auto;
}
.glider-next2.disabled,
.glider-prev2.disabled {
  opacity: .25;
  color: #666;
  cursor: default;
  
}

.glider-slide {
  min-width: 150px;
}

.glider-hide {
  opacity: 0;
}

.glider-dots,
.glider-dots2
 {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  z-index: 100;
  cursor: pointer;
}

.glider-dot,
.glider-dot2 {
  background: none;
  border: 0;
  padding: 5px;
  user-select: none;
  outline: none;
  display: block;
  cursor: pointer;
  color: #ccc;
  border-radius: 999px;
  background: #ccc;
  width: 12px;
  height: 12px;
  margin: 7px;
  z-index: 800;
}

.glider-dot:hover,
.glider-dot:focus,
.glider-dot.active {
  background: #a89cc8;
}

.glider-dot2:hover,
.glider-dot2:focus,
.glider-dot2.active {
  background: #a89cc8;
}

@media(max-width: 36em){
  .glider::-webkit-scrollbar {
    opacity: 1;
    -webkit-appearance: none;
    width: 7px;
    height: 3px;
  }
  .glider::-webkit-scrollbar-thumb {
    opacity: 1;
    border-radius: 99px;
    background-color: rgba(156, 156, 156, 0.25);
    box-shadow: 0 0 1px rgba(255,255,255,.25);
  }
  .glider2::-webkit-scrollbar {
    opacity: 1;
    -webkit-appearance: none;
    width: 7px;
    height: 3px;
  }
  .glider2::-webkit-scrollbar-thumb {
    opacity: 1;
    border-radius: 99px;
    background-color: rgba(156, 156, 156, 0.25);
    box-shadow: 0 0 1px rgba(255,255,255,.25);
  }
}
